<ion-content>

  <div class="ion-padding">
    <div class="single_page_title medium size_18">{{model.key_page_name}}</div>
  </div>

  <div class="ion-padding">
    <div  class="t" *ngFor="let x of model.data" id="add_{{x.id}}"> 
    <div class="medium green size_16">{{ x.adress_type }}</div>  
    <div class="saved address regular">
      {{ x.colony_name }}
      <!-- H.No. {{x.house_no}}, {{x.colony_name}}<br> -->
      <!-- {{x.city}} - {{x.postalCode}}<br> -->
      <!-- {{x.state}} -->
    </div>
 
    <div class="blank_buttons">
      <a routerLink="/saved-addresses-edit/{{x.id}}" class="blank_btn size_12 medium">{{model.key_text1}}</a>
      <a class="blank_btn size_12 medium" (click)="remove(x.id)">{{model.key_text2}}</a>
    </div>
    <br><br>
    <hr class="app_divider"></div>
	<div class="no_adress">No Saved Address</div>
    <br><br>
    <div class="add_btn">
      <a [routerLink]="['/saved-addresses-add']">
        <img src="assets/images/icon_add.svg">
      </a>
    </div>
  </div>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>    
    <div class="app_button">
      <ion-router-link href="">
        <button class="app_btn">Save Changes</button>
      </ion-router-link>
    </div>
  </ion-toolbar>
</ion-footer> -->
