.switch-field {
	display: flex;
	margin-bottom: 36px;
    overflow: hidden;
    width: 153px !important;
    background: #b7b7b7;
    border-radius: 20px;
    margin: 0 auto;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #B7B7B7;
    color: #FFFFFF;
    line-height: 1;
    text-align: center;
    padding: 10px 16px;
    margin-right: -1px;
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color:white;
    box-shadow: none;
    color: #363636;
    border-radius: 20px;
    z-index: 99;
    font-family: medium !important;
}

.switch-field label:first-of-type {
    border-radius: 20px 0px 0px 20px;
}

.switch-field label:last-of-type {
	border-radius: 0px 20px 20px 0px;

}

/* This is just for CodePen. */

.form {
	max-width: 600px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding: 16px;
}

h2 {
	font-size: 18px;
	margin-bottom: 8px;
}

#activity_normal_content{
	display : none;
}

.current_location_sppiner{
	--color:#419B95;
}
.current_location_spinner_position{
	margin-top:250px;
}

