<ion-content>
  <div class="big_header">
    <div class="ion-padding">
      <div class="title light poiret">
        {{app_title}}
      </div>
      <div class="big_header_bottom regular size_18">
       {{page_key1}}
      </div>
    </div>
  </div>
  <div class="ion-padding">
    <div class="app_input_text">
      {{content}}
    </div>  
  </div>
  <ion-footer>
    <ion-toolbar>    
      <div class="app_button">
       <button class="app_btn"  (click)="closeModal(true)">{{model.accept_btn}}</button>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content> 
