<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/images/icon_menu.svg">
      </ion-menu-button>
    </ion-buttons>
    <!--<ion-title>home</ion-title>-->
    <ion-buttons slot="end">      
        <img src="assets/images/icon_notification.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding theme_width"> 
  <div class="search_food_bg">
    <div class="search_single">
      <div class="left_space">{{model.key_text1}} :</div>
      <div class="search_food_buttons">
        <div class="btn-group">
          <button class="grey regular btn1" id="donate_address_type_1" (click)="address_type(1)">{{model.key_text2}}</button>
          <button class="grey regular btn1" id="donate_address_type_2" (click)="address_type(2)">{{model.key_text3}}</button>
        </div>
      </div>  
      <div class="size_13 green medium left_space" *ngIf="location_data != null">
        <span *ngIf="location_data.house_no != null">{{location_data.house_no}}, {{location_data.landmark}},</span> {{location_data.colony_name}},<br>
        {{location_data.city}}, {{location_data.state}}<br>
        {{location_data.postalCode}}, {{location_data.country}}
      </div>
      <br>
      <a href="donate-food-add-location">
        <div class="grey_font size_12 regular left_space">
          + {{model.key_text4}}
        </div>
      </a>
      <br><br>
      
        <div class="location_input">
          <img src="assets/images/food_location_icon.svg" style="left: 12px;">
          <input type="text" placeholder="Current Location" (click)="openModalCurrentLocation()">
        </div>
      
    </div>


  </div>   
</div>

</ion-content>

<ion-footer>
  <ion-toolbar>    
    <div class="app_button">
      <!-- <ion-router-link href="donate-food-members">
        <button class="app_btn">Proceed</button>
      </ion-router-link> -->
	  <button class="app_btn" (click)="proceed()">Proceed</button>
    </div>
    <br>
    <ion-segment value="home">
      <ion-segment-button value="home" [routerLink]="['/home']">
        <img src="assets/images/red_footer_home.svg">
        <!--<ion-img src="assets/images/grey_footer_home.svg"></ion-img>-->
        <ion-label class="size_12 medium">Home</ion-label>    
      </ion-segment-button>
      <ion-segment-button value="activity" [routerLink]="['/activity-normal']">
        <!--<ion-img src="assets/images/red_footer_activity.svg"></ion-img>-->
        <img src="assets/images/grey_footer_activity.svg">
        <ion-label class="size_12 medium">Activity</ion-label>    
      </ion-segment-button>
      <ion-segment-button value="volunteer" [routerLink]="['/volunteer']">
        <!--<ion-img src="assets/images/red_footer_volunteer.svg"></ion-img>-->
        <img src="assets/images/grey_footer_volunteer.svg">
        <ion-label class="size_12 medium">Volunteer</ion-label>    
      </ion-segment-button>
    </ion-segment>      
  </ion-toolbar>
</ion-footer>




  

