.donate_food_select_address ion-label {
    white-space: normal !important;
    padding-left: 22px;
}
.donate_food_select_address ion-radio {
    margin-inline-end: 0px;
}
.donate_food_select_address ion-item {
    --background: none;
    margin-left: -19px;
}