<ion-header class="ion-no-border ion-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/images/icon_menu.svg">
      </ion-menu-button>
    </ion-buttons>
    <!--<ion-title>home</ion-title>-->
    <ion-buttons slot="end">      
        <img src="assets/images/icon_notification.svg">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding theme_width"> 
  <div class="search_food_bg">
    <div class="search_single">
      Select Location :
      <div class="search_food_buttons">
        <div class="btn-group">
          <button class="grey regular btn1">Home</button>
          <button class="grey regular btn1">Office</button>
        </div>
      </div>        
      
      <a href="donate-food-add-location">
        <div class="grey_font size_12 regular" style="margin-top: 12px;">
          + ADD FAVORITE LOCATION 
        </div>
      </a>
      <br><br>
      
      <div class="location_input" (click)="openModalCurrentLocation()">
        <img src="assets/images/food_location_icon.svg" style="left: 12px;">
        <input type="text" placeholder="Current Location">
      </div>
      <br><br>
      <div class="size_13 green medium" style="margin-top: 16px;">
        Rajsamrat Colony, Ayodhya Nagar,<br>
        Bhopal, Madhya Pradesh<br>
        462041, India
      </div>
      
    </div>


  </div>   
</div>

</ion-content>

<ion-footer>
  <ion-toolbar>    
    <div class="app_button">
      <ion-router-link href="donate-food-members">
        <button class="app_btn">Proceed</button>
      </ion-router-link>
    </div>
    <br>
   <ion-segment value="home" color="transparent">
      <ion-segment-button value="home" [routerLink]="['/home']">
        <img src="assets/images/red_footer_home.svg">
        <!--<ion-img src="assets/images/grey_footer_home.svg"></ion-img>-->
        <ion-label class="size_12 medium" color="tertiary">Home</ion-label>    
      </ion-segment-button>
      <ion-segment-button value="activity" [routerLink]="['/activity-normal']">
        <!--<ion-img src="assets/images/red_footer_activity.svg"></ion-img>-->
        <img src="assets/images/grey_footer_activity.svg">
        <ion-label class="size_12 medium">Activity</ion-label>    
      </ion-segment-button>
      <ion-segment-button value="volunteer" [routerLink]="['/volunteer']">
        <!--<ion-img src="assets/images/red_footer_volunteer.svg"></ion-img>-->
        <img src="assets/images/grey_footer_volunteer.svg">
        <ion-label class="size_12 medium">Volunteer</ion-label>    
      </ion-segment-button>
    </ion-segment>      
  </ion-toolbar>
</ion-footer>





  

