<ion-content>
  <a href="home">
    <img src="assets/images/close_btn.svg" class="close_btn" style="right: 30px; top: 30px;">
  </a>
<div class="vertical_center">
  <div class="ion-padding center">    
    <img src="assets/images/icon_successful.svg">
    <br><br>
    <div class="size_18 medium green">
      Thank you for your Donation
    </div>
    <br><br><br>
    <div>
      As per research the people who eats
      proper food have better thinking and
      are better citizens of the country.
    </div>
    <br><br>
    <div>
      So we thank you for making our country
      better place by donating food.
    </div>
  </div>
</div>
</ion-content>
