.language_header {
    margin-bottom: 6px;
}
ion-item {
    margin: 8px 0px;
}
ion-label {
    font-family: noto_medium !important;
}
ion-radio {
    margin-left: -15px;
}
ion-item span {
    color: #419B95;
}