<!--<ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
<a href="language">
<div class="bg">
  <div class="ion-padding">
    <div class="title light poiret">
      Khanaa.app
    </div>
  </div>
  <div class="title_bottom regular">
    Welcome to<br>
    Khaana.app
  </div>
  <div class="mobile_img">
    <img src="assets/images/mobile.png">    
  </div>
</div>
<div class="ion-padding splash_content light size_20">
  " The greatest <br>
  GOOD <br>
  is what we do <br>
  for one another. "
  <br>
  <span class="regular size_14">MOTHER TERESA</span>
</div>
</a>
</ion-content> 

