<ion-content class="modal_content">
  <div class="ion-padding">  
    <a (click)="closeModal()">
      <img src="assets/images/close_btn.svg" class="close_btn">
    </a>
    <div class="modal_inner">
      <br>
      <div class="center">
        <img src="assets/images/icon_registered.svg">
      </div>
      <br>
      <div class="medium size_18 green center" style="max-width: 200px; width: 100%; margin: 0 auto;">
        <p class="text-center theme_color">{{ model.key_text2 }}</p>
        <span *ngIf="request_data" class="vol_content_text">{{ model.key_text1 }} {{ model.key_text4 }} {{model.key_text5}} {{ request_data.no_of_person }} {{ model.key_text3 }}.<br> {{ model.key_text6 }}</span>
      </div>
    </div>

  </div> 
</ion-content> 