
<ion-header class="ion-no-border ion-padding">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="assets/images/icon_menu.svg">
        </ion-menu-button>
      </ion-buttons>
      <!--<ion-title>home</ion-title>-->
      <ion-buttons slot="end" routerLink="/notification">
        <span  id="black_spot" style="display:none;position: absolute;height: 10px;width: 10px;background-color: #000;border-radius: 50%;color: #fff;
        top: -3px;
        right: 3px;
        text-align: center;"></span>      
          <img src="assets/images/icon_notification.svg">
      </ion-buttons> 
    </ion-toolbar>
  </ion-header>