<ion-content class="modal_content">
  <div class="ion-padding">  
    <!-- <img (click)="closeModal()" src="assets/images/close_btn.svg" class="close_btn"> -->
  
    <div class="modal_inner">
      <br>
      
      <div class="medium size_18 green center" style="max-width: 228px; width: 100%; margin: 0 auto;">
        {{message}}
      </div>
      <br>
      <div class="medium size_16">
        <ion-row>
          <ion-col size="6">
            <button class="app_btn custom_reject_btn"  (click)="RejectRequest(true)">{{model.key_text1}}</button>
          </ion-col>
          <ion-col size="6">
            <button class="app_btn custom_accept_btn"  (click)="acceptRequest()">{{model.key_text2}}</button>
          </ion-col>
        </ion-row>
         
      </div>
    </div>

  </div>
</ion-content> 