<center class="current_location_spinner_position" id="donate_food_spinner"><ion-spinner class="current_location_sppiner"></ion-spinner></center>
<ion-content class="modal_content">
  <div class="ion-padding">  
    <a (click)="closeModal()">
      <img src="assets/images/close_btn.svg" class="close_btn">
    </a>
    <div class="modal_inner">
      <br>
      <div class="center">
        <img src="assets/images/icon_registered.svg">
      </div>
      <br>
      <div class="medium size_18 green center" style="max-width: 200px;width: 100%; margin: 0 auto;">
        <span>{{model.key_text7}}</span>
      </div>
      <br>
      <div class="medium size_16 center" style="max-width: 200px; width: 100%; margin: 0 auto;">
        <span *ngIf="veg != 0 && nonveg != 0 && model.username">{{ model.key_text1 }} {{ model.username }} {{ model.key_text2 }} {{ veg_food.total_food_for }} {{ model.key_text3 }} {{ model.key_text4 }} {{ nonveg_food.total_food_for }} {{ model.key_text3 }}, {{ model.key_text5 }}</span>
        <span *ngIf="veg != 0 && nonveg == 0 && model.username">{{ model.key_text1 }} {{ model.username }} {{ model.key_text2 }} {{ veg_food.total_food_for }} {{ model.key_text3 }}, {{ model.key_text5 }}</span>
        <span *ngIf="veg == 0 && nonveg != 0 && model.username">{{ model.key_text1 }} {{ model.username }} {{ model.key_text6 }} {{ nonveg_food.total_food_for }} {{ model.key_text3 }}, {{ model.key_text5 }}</span>
      </div>
      <!-- <br><br> -->
      <!-- <div class="medium size_16 center" style="max-width: 240px; width: 100%; margin: 0 auto;">
        {{model.key_text2}}
      </div> -->
	  <!-- <br> -->
      <!-- <div class="medium size_16 center" style="max-width: 240px; width: 100%; margin: 0 auto;">
        {{model.key_text3}}
      </div> -->
    </div>

  </div> 
</ion-content> 