
<app-captcha></app-captcha>
<ion-content>
<div class="ion-padding theme_width"> 
  <div class="search_food_bg" style="min-height: 234px;">
    <div class="search_single">
      <div class="size_18 medium big_heading">{{model.key_text1}}</div>

      <ion-row *ngFor="let x of pending_data;let i = index;">
        <ion-col size="8" style="padding: 0;">
          {{i+1}}. {{x.food_type | foodType}}. {{model.key_text2}} {{x.total_food_for}} {{model.key_text3}}
        </ion-col>
        <ion-col size="4" style="padding: 0;">
          <div class="grey_font right">{{x.updated_at | date:'shortTime'}}</div> 
        </ion-col>
      </ion-row>  
      
    </div>

  </div>   
  
  <div class="search_food_bg" style="min-height: 306px; margin-top: 15px;">
    <div class="">

      <div class="size_18 medium big_heading">{{model.key_text4}}</div>

      <ion-row *ngIf="model.veg != 0">
        <ion-col size="6">
         {{model.key_text11}}
        </ion-col>
        <ion-col size="1" class="center">
          :
        </ion-col>
        <ion-col size="5">
          <div class="light_green center">{{veg_food.food_type | foodType}}.</div> 
        </ion-col>
        <br>
        <br>
      </ion-row> 
      <ion-row *ngIf="model.veg != 0">
        <ion-col size="6" class="custom_left">
          {{model.key_text7}}
        </ion-col>
        <ion-col size="1" class="center">
          :
        </ion-col>
        <ion-col size="5" class="custom_right">
          <div class="size_15 center green">
            {{veg_food.total_food_for}} {{model.key_text12}}
          </div>
        </ion-col>
        <br>
        <br>
      </ion-row>  
      
      <ion-row *ngIf="model.nonveg != 0" >
        <ion-col size="6">
         {{model.key_text11}}
        </ion-col>
        <ion-col size="1" class="center">
          :
        </ion-col>
        <ion-col size="5">
          <div style="color:#e8604c" class="center">{{nonveg_food.food_type | foodType}}.</div> 
        </ion-col>
        <br>
        <br>
      </ion-row> 
      
      <ion-row *ngIf="model.nonveg != 0">
        <ion-col size="6" class="custom_left">
          {{model.key_text7}}
        </ion-col>
        <ion-col size="1" class="center">
          :
        </ion-col>
        <ion-col size="5" class="custom_right">
          <div class="size_15 center green">
            {{nonveg_food.total_food_for}} {{model.key_text12}}
          </div>
        </ion-col>
      </ion-row> 
    </div>

  </div>  
  <br>
</div>

</ion-content>

<ion-footer>
  <ion-toolbar> 
	<div class="app_button" (click)="donate_food()">
      
        <button class="app_btn" *ngIf="!model.search">{{model.key_text16}}</button>
        <button class="app_btn" *ngIf="model.search"><ion-spinner class="current_location_sppiner"></ion-spinner></button>
    </div>
    <br>
     <ion-segment value="home" color="transparent">
      <ion-segment-button value="home" [routerLink]="['/home']">
        <img src="assets/images/red_footer_home.svg">
        <!--<ion-img src="assets/images/grey_footer_home.svg"></ion-img>-->
        <ion-label class="size_12 medium" color="tertiary">Home</ion-label>    
      </ion-segment-button>
      <ion-segment-button value="activity" [routerLink]="['/activity-normal']">
        <!--<ion-img src="assets/images/red_footer_activity.svg"></ion-img>-->
        <img src="assets/images/grey_footer_activity.svg">
        <ion-label class="size_12 medium">Activity</ion-label>    
      </ion-segment-button>
      <ion-segment-button value="volunteer" *ngIf="model.is_volunteer== 1 " [routerLink]="['/volunteer-detail']">
        <!--<ion-img src="assets/images/red_footer_volunteer.svg"></ion-img>-->
        <img src="assets/images/grey_footer_volunteer.svg">
        <ion-label class="size_12 medium">Volunteer</ion-label>    
      </ion-segment-button>
    </ion-segment>     
  </ion-toolbar>
</ion-footer>




  

