#map {
    width: 100%;
    height: 53%;
	margin-top: 18px;
}
.current_location_page_show{
	display:none;
}
.current_location_sppiner{
	--color:#419B95;
}
.current_location_spinner_position{
	margin-top:250px;
}
.map_desc_text{
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}