<center class="current_location_spinner_position" id="location_spinner"><ion-spinner class="current_location_sppiner"></ion-spinner></center>
<ion-content class="current_location_page_show">
	<div class="map current_location">
		<img src="assets/images/close_btn.svg" class="close_btn" (click)="closeModal()">
	</div>
	<div #map id="map"></div> 
	<div class="ion-padding">
    <div class="map-icon">
		<img src="assets/images/location_red.svg">
    </div>
    <div class="map_desc">
		<div class="size_18"> 
			{{model.colony_name}}
		</div>
		<div class="regular size_12">
			{{model.colony_name}},<br>
			{{model.city}}, {{model.state}} {{model.postalCode}}, {{model.country}}
		</div>
    </div>
  </div>
  
</ion-content>
  
<ion-footer class="current_location_page_show">
    <ion-toolbar>    
		<div class="app_button">
			<span (click)="current_location()">
				<button class="app_btn">{{model.key_text1}}</button>
			</span>
			<!--  <button class="app_btn" (click)="confirm_location()">Confirm Location</button> -->
		</div>
    </ion-toolbar>
</ion-footer>
  