<ion-content>

  <div class="ion-padding">
    <div class="single_page_title medium size_18">{{model.key_page_name}}</div>
  </div>

  <div class="ion-padding">
    <div class="profile app_input_text">      
      <input type="text" id="profile_username" value="{{model.username}}" placeholder="{{model.key_username}}">      
    </div>
    <span class="error" id="username">{{model.key_valid}}</span>  
    <div class="profile app_input_text center_input">    
      <input type="text" disabled>  
      <ion-datetime placeholder="{{model.key_dob}}" class="regular" id="profile_dob" value="{{model.dob}}" max="{{ model.latest_date }}" displayFormat="MMMM DD, YYYY"></ion-datetime>         
    </div> 
    <span class="error" id="dob">{{model.key_valid}}</span>  
    <br><br>
    <div class="grey" style="margin-left: 23px;">{{model.key_food_type}} : </div>

    <div class="btn-group">
      <button class="grey regular btn2" id="profile_food_1" (click)="food_type(1)">{{model.key_veg}}.</button>
      <button class="grey regular btn2" id="profile_food_2" (click)="food_type(2)">{{model.key_non_veg}}.</button>
      <button class="grey regular btn2" id="profile_food_3" (click)="food_type(3)">{{model.key_both}}</button>
    </div> 
    <span class="error" id="foodtype">{{model.key_valid}}</span>  
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>    
    <div class="app_button">
      <!-- <ion-router-link href="">
        <button class="app_btn">Save Changes</button>
      </ion-router-link> -->
	   <button class="app_btn" (click)="update_profile()" *ngIf="!model.search">{{model.key_save_changes}}</button>
     <button class="app_btn" *ngIf="model.search"><ion-spinner class="current_location_sppiner"></ion-spinner></button>
    </div>
  </ion-toolbar>
</ion-footer>