<ion-content class="modal_content">
  <div class="ion-padding">  
    <img (click)="closeModal()" src="assets/images/close_btn.svg" class="close_btn">
  
    <div class="modal_inner">
      <br>
      
      <div class="medium size_16 green center" style="max-width: 300px; width: 100%; margin: 0 auto;">
        {{msg}}
      </div>
      <br>
      <br>
      <div class="app_button">
          <button class="app_btn" (click)="closeModal()">{{ model.key_text1 }}</button>
      </div>
    </div>

  </div>
</ion-content> 