<ion-content class="modal_content">
  <div class="ion-padding">  
    <a (click)="redirectToNext()">
      <img src="assets/images/close_btn.svg" class="close_btn">
    </a>
    <div class="modal_inner">
      <br>
      <div class="center">
        <img src="assets/images/smile_green.svg">
      </div>
      <br>
       <div class="medium size_16 center green" style="width: 100%; margin: 0 auto;">
        {{model.key_text1}},
      </div>
      <br>
      <div class="medium size_16 center green" style="width: 100%; margin: 0 auto;">
        {{model.key_text2}} 
      </div>
    </div>
    
  </div> 
</ion-content> 